Pillow==10.4.0
cloudinary==1.40.0
flask==3.0.3
google-cloud-aiplatform==1.59.0
gunicorn==22.0.0
line-bot-sdk==3.12.0
redis==5.0.7
waitress==3.0.0
python-dotenv==1.0.1
requests==2.32.3
beautifulsoup4==4.12.3
python-dateutil==2.9.0
pytz==2024.1
